:root {
    --cor-principal:
    --font-size:
}

/* CLass selector comum flexivel 2 */
/* .logotipo {
    color: rgb(61, 190, 149) !important;
} */

/* ID selector importante 1 */
/* #logo {
    cor:red;
} */

/* Elemento selector 3 */
/* div {
    color: brown;
 } */

 /* .amarelo {
    color: yellow;
 }

 .verde {
    color: blue;
 }

 .roxo {
    color: green;
 }

 p.rt1 {
    font-size: 5xp;
 }

 a[data-impacta="home"] {
    font-size: 10px;
    color: palevioletred;
 } */