:root {
    --primary-color: #96BB7C;
    --light-color: #ffffff;
}

* {
   margin: 0;
}


/* Seletor class */
/* .logotipo {
    color:blueviolet;
} */

/* Seletor ID */
/* #logo {
    color: var(--cor-azul);
} */

/* Seletor Elemento */
/* div {
    color: blue;
} */

/* p.rt1 {
    font-size: 5px;
}

a[data-impacta="home"] {
    font-size: 10px;
    color: red;
} */

