/* Seletor */

/* CLass selector */
/* .logotipo {
    color: rgb(61, 190, 149);
} */

/* ID selector */
/* #logo {
    cor:red;
} */

/* Elemento selector */
/* div {
    color: brown;
} */

 #teste2 {
    color: yellow;
 }

 #teste1 {
    color: blue;
 }

 #teste3 {
    color: green;
 }

  #teste4 {
    color: blue;
  }